<div class="notes">
    <span class="mark">*</span> 印の付いた項目は入力必須です。
</div>
<div>
    <%= f.label :last_name, "カナ(名字)", class: "required" %>
    <%= f.text_field :last_name, size: 32, required: true %>
</div>
